# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode / SwiftUI previews
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods (in case it's ever used)
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Editors
.vscode/
.idea/
*.swp
